---
import './style.scss';
---

<section class="information">
  <h2 class="information__title">Детали</h2>
  <p class="information__text">
    Если у вас остались вопросы или вы подготовили для нас сюрприз, творческий
    подарок, не забудьте предупредить нашего свадебного организатора.
  </p>
  <p class="information__text">Марика:</p>
  <a class="information__tel" href="tel:+7(965)-884-72-54">
    +7(965)-884-72-54
  </a>
  <p class="information__text">
    Она поможет воплотить вашу идею или отговорит вас, и ответит на все вопросы
  </p>
</section>
