---
import './style.scss';
---

<section class="dresscode">
  <h2 class="dresscode__title">Дресс-Код</h2>
  <p class="dresscode__text">
    Нам будет очень приятно, <br /> если вы учтете наши пожелания <br /> и при выборе
    одежды, <br /> предпочтете вечерние наряды <br />
    в представленной ниже гамме.
  </p>
</section>

<script src="./animate.ts"></script>