---
import './style.scss';
---

<section class="wishes">
  <h3 class="wishes__title">Пожелания</h3>
  <p class="wishes__subtitle">
    Главное для нас - ваше внимание. <br /> А радость доставит любой <br /> подарок
    в конверте.
  </p>
  <p class="wishes__description">
    Будем признательны за <br /> альтернативу букетам в форме <br /> бутылочки вина
    или другого <br /> приятного напитка и записки <br /> о событии, к которому нам
    <br /> приурочить ее открытие.
  </p>
</section>
