---
import Timer from '@components/Timer/Timer.astro';
import './style.scss';
---

<header class="header">
  <div class="header__background"></div>
  <section class="header__wrapper">
    <h2 class="header__title">Влад и Анна</h2>
    <p class="header__date">02.08.2024</p>
  </section>
  <Timer />
</header>
