---
import './style.scss';
---

<section class="timing-day">
  <div class="timing-day__container">
    <h2 class="timing-day__title">План мероприятия</h2>

    <div class="vertical-line">
      <div class="segment">
        <div class="icon">
          <img src="public/12.svg" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p class="text__time">16:30</p>
          <h3 class="text__subtitle">Сбор гостей</h3>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <img src="public/icons/3.svg" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p class="text__time">17:00</p>
          <h3 class="text__subtitle">Начало мероприятия</h3>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <img src="public/icons/4.svg" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p class="text__time">18:00</p>
          <h3 class="text__subtitle">Начало банкета</h3>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <img src="public/icons/5.svg" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p class="text__time">21:30</p>
          <h3 class="text__subtitle">СВАДЕБНЫЙ ТОРТ</h3>
        </div>
      </div>
      <div class="segment">
        <div class="icon">
          <img src="public/icons/7.svg" class="icon__img" />
        </div>
        <div class="dot"></div>
        <div class="text">
          <p class="text__time">23:00</p>
          <h3 class="text__subtitle">ОКОНЧАНИЕ ВЕЧЕРА</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script> -->
<script src="./animate.ts"></script>
