---
import './style.scss';
---

<section class="invitation">
  <p class="invitation__title">
    В нашей жизни есть моменты, <br /> в которые хочется, чтобы <br /> дорогие люди
    были рядом.
  </p>
  <p class="invitation__text">
    Поэтому приглашаем вас <br /> вместе с нами открыть <br /> новую главу нашей
    жизни! <br /> Мы будем искренне <br /> рады разделить этот день <br /> вместе
    с вами!
  </p>
</section>

<script src="./animate.ts"></script>